form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-12.columns
      input(type="text", placeholder="clarify your Why", ng-model="ctrl.method.why", required=true)
  .row
    .small-12.columns
      input(type="text", placeholder="articulate your Hows", ng-model="ctrl.method.how", required=true)
  .row
    .small-12.columns
      input(type="text", placeholder="the importance of being consistent in What you do", ng-model="ctrl.method.importance", required=true)
  .row
    br
    button.button(ui-sref="ClayChristensen") Previous
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
    button.button(ui-sref="ZagFormat") Next
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  button.button(ng-click="ctrl.back()") Back
  button.button(ui-sref="ZagFormat") Next
.footer #9 Simon Sinek’s WHY
