form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-12.columns
      input(type="text", placeholder="clarify your Why", ng-model="ctrl.method.why", required=true)
  .row
    .small-12.columns
      input(type="text", placeholder="articulate your Hows", ng-model="ctrl.method.how", required=true)
  .row
    .small-12.columns
      input(type="text", placeholder="the importance of being consistent in What you do", ng-model="ctrl.method.importance", required=true)
  .row
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Build
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  br
  i.fa.fa-arrow-left.fa-3x(ng-click="ctrl.back()")
    .icon-subtitle Back
  = ' '
  i.fa.fa-arrow-right.fa-3x(ui-sref="MintoPyramid")
    .icon-subtitle Next
.footer #10 Simon Sinek’s WHY
