$light-gray: #cfc7cd;

@mixin placeholder {
  color: $light-gray;
  font-weight: bolder;
  font-size: 100%;
}

::-webkit-input-placeholder {
  @include placeholder;
}

:-moz-placeholder { /* Firefox 18- */
  @include placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
  @include placeholder;
}

:-ms-input-placeholder {
  @include placeholder;
}

input {
  height: 50px !important;
  font-size: 150% !important;
  font-weight: bolder;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-weight: bold;
  font-size: 125%;
}
