$light-gray: #cfc7cd;

@mixin placeholder {
  color: $light-gray;
  font-weight: bolder;
  font-size: 100%;
}

::-webkit-input-placeholder {
  @include placeholder;
}

:-moz-placeholder { /* Firefox 18- */
  @include placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
  @include placeholder;
}

:-ms-input-placeholder {
  @include placeholder;
}

input {
  height: 50px !important;
  font-size: 150% !important;
  font-weight: bolder;
}

textarea {
  height: 100px !important;
  font-size: 150% !important;
  font-weight: bolder;
}

label {
  height: 50px !important;
  font-size: 150% !important;
  font-weight: bolder !important;
  color: white !important;
  margin: 0px !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-right: 30px !important;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 125%;
}

.small-font {
  font-size: 125% !important;
}

form {
  width: 50%;
}

input[placeholder] {
  text-overflow: ellipsis;
}
::-moz-placeholder { /* firefox 19+ */
  text-overflow: ellipsis;
}
input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:focus::-webkit-input-placeholder {
  transition: text-indent 4s 0.5s ease-in;
  text-indent: -200%;
}
