.lang-header{
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 2%;
  padding-left: 2%;
}

.home-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

.logo {
  height: 70px;
}

.home-title {
  height: 90px;
}
