ul.side-nav
  li(ng-repeat="method in sideBar.methods", ng-class="{'side-nav-active active': sideBar.isActive(method.slug, method.index)}")
    a(ui-sref="method.form({ slug: method.slug })") {{ (method.index+1) + '. ' + method.name }}
