form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-10.columns.right
      input(type="text", placeholder="Proven industry example", ng-model="ctrl.method.industryExample", required=true)
  .row
    .small-2.columns
      label.right.inline(for="attribute") for
    .small-10.columns
      input#attribute(type="text", placeholder="attribute", ng-model="ctrl.method.attribute", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}")
      span(title="") Example
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Build
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  br
  i.fa.fa-chevron-left.fa-2x(ng-click="ctrl.back()")
    .icon-subtitle Back
  = ' '
  i.fa.fa-chevron-right.fa-2x(ui-sref="SteveBlanks")
    .icon-subtitle Next
.footer #2 Venture Hacks' High-Concept Pitch
