div(align="center")
  form(novalidate=true, name="uvpForm", ng-hide="form.showUVP")
    .row(ng-repeat="field in form.method.form_fields")
      .small-2.columns(ng-show="field.label")
        label.right.inline(for="{{ field.label }}") {{ field.label }}
      .columns.right(ng-attr-id="{{ field.label }}", ng-class="{'small-10': form.method.has_labels, 'small-12': !form.method.has_labels}")
        input(type="text", placeholder="{{ field.placeholder }}", ng-model="field.value", required=true)
    .row
      a._tooltip(title="{{form.method.example}}", ng-show="form.method.example")
        span(title="") {{ 'example' | translate }}
      br
      button.button(ng-disabled="!uvpForm.$valid", ng-click="form.display()") {{ 'build' | translate }}
  .row(ng-show="form.showUVP")
    h1 {{ form.getUVPFromTemplate() }}
    br
    uvp-facebook-share-button
    br
    i.fa.fa-chevron-left.fa-2x(ng-click="form.back()")
      .icon-subtitle {{ 'back' | translate }}
    = ' '
    i.fa.fa-chevron-right.fa-2x(ui-sref="method.form({ slug: form.method.index + 1 })" ng-hide="form.isLastMethod()")
      .icon-subtitle {{ 'next' | translate }}
.footer # {{ form.method.index+1 }} {{form.method.name}}
