div(align="center")
  form(novalidate=true, name="uvpForm", ng-hide="form.showUVP")
    .row(ng-repeat="field in form.method.formFields")
      .small-2.columns(ng-show="field.label")
        label.right.inline(for="{{ field.label }}") {{ field.label }}
      .columns.right(ng-attr-id="{{ field.label }}", ng-class="{'small-10': form.method.hasLabels, 'small-12': !form.method.hasLabels}")
        input(type="text", placeholder="{{ field.placeholder }}", ng-model="field.value", required=true)
    .row
      a._tooltip(title="{{form.method.example}}", ng-show="form.method.example")
        span(title="") {{ 'common.example' | i18n }}
      br
      button.button(ng-disabled="!uvpForm.$valid", ng-click="form.display()") {{ 'common.build' | i18n }}
  .row(ng-show="form.showUVP")
    h1 {{ form.getTemplate() }}
    br
    uvp-facebook-share-button
    br
    i.fa.fa-chevron-left.fa-2x(ng-click="form.back()")
      .icon-subtitle {{ 'common.back' | i18n }}
    = ' '
    i.fa.fa-chevron-right.fa-2x(ui-sref="method.form({ slug: form.method.index+1 })")
      .icon-subtitle {{ 'common.next' | i18n }}
.footer # {{ form.method.index+1 }} {{form.method.name}}
