div(flow-init, flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]", flow-files-submitted="$flow.upload()")
  .background--image
    img(ng-hide="userBackground.image", ng-src="{{ctrl.backgroundImage}}")
    img.background-dark(ng-show="userBackground.image", flow-img="userBackground.image")

  .off-canvas-wrap#off-canvas(data-offcanvas)
    .inner-wrap
      button.tiny.button.black-button.right.right-off-canvas-toggle(ng-click="ctrl.refresh()")
        i.fa.fa-chevron-left.fa-2x.toggle(ng-hide="ctrl.isSideBarOpen()")  {{ 'common.methods' | i18n }}
        i.fa.fa-chevron-right.fa-2x.toggle(ng-show="ctrl.isSideBarOpen()")  {{ 'common.methods' | i18n }}
      aside.right-off-canvas-menu
        uvp-side-bar

      .container
        .middle.text-center
          .inner
            .row
              uvp-change-background-button
            div(align="center")
              form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
                .row(ng-repeat="field in ctrl.method.formFields")
                  .small-2.columns(ng-show="field.label")
                    label.right.inline(for="{{ field.label }}") {{ field.label }}
                  .columns.right(ng-attr-id="{{ field.label }}", ng-class="{'small-10': ctrl.method.hasLabels, 'small-12': !ctrl.method.hasLabels}")
                    input(type="text", placeholder="{{ field.placeholder }}", ng-model="field.value", required=true)
                .row
                  a._tooltip(title="{{ctrl.method.example}}", ng-show="ctrl.method.example")
                    span(title="") {{ 'common.example' | i18n }}
                  br
                  button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") {{ 'common.build' | i18n }}
              .row(ng-show="ctrl.showUVP")
                //h1 {{ctrl.method.template()}}
                br
                uvp-facebook-share-button
                br
                i.fa.fa-chevron-left.fa-2x(ng-click="ctrl.back()")
                  .icon-subtitle {{ 'common.back' | i18n }}
                = ' '
                i.fa.fa-chevron-right.fa-2x(ui-sref="JustWriteIt")
                  .icon-subtitle {{ 'common.next' | i18n }}
            .footer # {{ ctrl.method.index+1 }} {{ctrl.method.name}}
