div(flow-init, flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]", flow-files-submitted="$flow.upload()")
  .background--image
    img(ng-hide="userBackground.image", ng-src="{{ctrl.backgroundImage}}")
    img.background-dark(ng-show="userBackground.image", flow-img="userBackground.image")

  .off-canvas-wrap#off-canvas(data-offcanvas)
    .inner-wrap
      button.tiny.button.black-button.right.right-off-canvas-toggle(ng-click="ctrl.refresh()")
        i.fa.fa-chevron-left.fa-2x.toggle(ng-hide="ctrl.isSideBarOpen()")  {{ 'common.methods' | i18n }}
        i.fa.fa-chevron-right.fa-2x.toggle(ng-show="ctrl.isSideBarOpen()")  {{ 'common.methods' | i18n }}
      aside.right-off-canvas-menu
        uvp-side-bar

      .container
        .outer
          .middle.text-center
            .row
              uvp-change-background-button
              br
              i.fa.fa-home(ui-sref="home")  {{ 'common.home' | i18n }}
              br
              br
            div(ui-view)
