.home
  .background--image
    img(src="../../assets/images/home_background.png")

  .outer
    .middle.large-7.text-center
      .row
        h1 {{ctrl.uvp}}

      .row
        br
        button.tiny.button(ui-sref="home")
          h5 Build your own UVP!

      .home-footer
        .row
          span Powered by:
        .row
          a(href="http://labs.pernix-solutions.com/")
            img.logo(src="../../assets/images/pl.png")
