form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    input(type="text", placeholder="{{ 'clayChristensen.placeholder1' | i18n }}", ng-model="ctrl.method.verb", required=true)
  .row
    input(type="text", placeholder="{{ 'clayChristensen.placeholder2' | i18n }}", ng-model="ctrl.method.action", required=true)
  .row
    input(type="text", placeholder="{{ 'clayChristensen.placeholder3' | i18n }}", ng-model="ctrl.method.identifier", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}")
      span(title="") {{ 'common.example' | i18n }}
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") {{ 'common.build' | i18n }}
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  br
  uvp-facebook-share-button
  br
  i.fa.fa-chevron-left.fa-2x(ng-click="ctrl.back()")
    .icon-subtitle {{ 'common.back' | i18n }}
  = ' '
  i.fa.fa-chevron-right.fa-2x(ui-sref="SimonSineks")
    .icon-subtitle {{ 'common.next' | i18n }}
.footer #9 Clay Christensen’s Jobs-to-be-done
