form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    input(type="text", placeholder="Action verb", ng-model="ctrl.method.verb", required=true)
  .row
    input(type="text", placeholder="Object of action", ng-model="ctrl.method.action", required=true)
  .row
    input(type="text", placeholder="Contextual identifier", ng-model="ctrl.method.identifier", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}") Example
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Watch
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  button.button(ng-click="ctrl.back()") Back
  .row
    i.fi-arrow-right.medium-icon(ui-sref="SimonSineks")
      .icon-subtitle Next
.footer #9 Clay Christensen’s Jobs-to-be-done
