div(data-interchange="[app/methods/steve-blanks/steve-blanks-default.html, (default)], [app/methods/steve-blanks/steve-blanks-small.html, ((max-width: 48em))]")

.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  br
  uvp-facebook-share-button
  br
  i.fa.fa-chevron-left.fa-2x(ng-click="ctrl.back()")
    .icon-subtitle {{ 'common.back' | i18n }}
  = ' '
  i.fa.fa-chevron-right.fa-2x(ui-sref="VlaskovitsAndCoopers")
    .icon-subtitle {{ 'common.next' | i18n }}

.footer #3 Steve Blank's XYZ
