div(data-interchange="[app/methods/steve-blanks/steve-blanks-default.html, (default)], [app/methods/steve-blanks/steve-blanks-small.html, ((max-width: 48em))]")

.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  br
  i.fa.fa-chevron-left.fa-3x(ng-click="ctrl.back()")
    .icon-subtitle Back
  = ' '
  i.fa.fa-chevron-right.fa-3x(ui-sref="VlaskovitsAndCoopers")
    .icon-subtitle Next

.footer #3 Steve Blank's XYZ
