.form
  .background--image
    img(src="../../assets/images/home_background.png")
  .outer
    .middle.text-center
      .inner
        form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
          .row
            .small-12.columns
              input(type="text", placeholder="Why choose this product", ng-model="ctrl.method.why", required=true)
          .row
            br
            button.button(ui-sref="MintoPyramid") Previous
            button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
            button.button(ui-sref="EricSinksLabel") Next
        .row(ng-show="ctrl.showUVP")
          h1 {{ctrl.method.template()}}
          button.button(ng-click="ctrl.back()") Back
          button.button(ui-sref="EricSinksLabel") Next
    side-bar
.footer #6 Eric Sink's Value Positioning Superlative
