div(data-interchange="[app/methods/zag-format/zag-format-default.html, (default)], [app/methods/zag-format/zag-format-small.html, ((max-width: 48em))]")

.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  br
  i.fa.fa-chevron-left.fa-2x(ng-click="ctrl.back()")
    .icon-subtitle Back
  = ' '
  i.fa.fa-chevron-right.fa-2x(ui-sref="ThreeWords")
    .icon-subtitle Next

.footer #13 The Zag format
