form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-2.columns
      label.right.inline(for="category") Our
    .small-10.columns
      input#category(type="text", placeholder="product category or brand", ng-model="ctrl.method.category", required=true)
  .row
    .small-2.columns
      label.right.inline(for="attribute") is the only
    .small-10.columns
      input#attribute(type="text", placeholder="best customer attribute", ng-model="ctrl.method.attribute", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}")
      span(title="") Example
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Build

