.form(ng-app="uvp-builder-web.forms")
  .background--image
    img(ng-hide="ctrl.userBackgroundImage", ng-src="{{ctrl.backgroundImage}}")
    img.background-dark(ng-show="ctrl.userBackgroundImage", flow-img="ctrl.userBackgroundImage")
  .outer
    .middle.text-center
      .inner
        form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
          button.button(flow-btn, flow-attrs="{accept:'image/*'}") Change background
          .row
            .small-12.columns
              input(type="text", placeholder="Do you need/want to... ?", ng-model="ctrl.method.question", required=true)
          .row
            span.has-tip(data-tooltip, aria-haspopup=true, title= "Do you want to experience a new way to create journalistic interviews?") Example
            br
            button.button(ui-sref="ElevatorPitch") Previous
            button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
            button.button(ui-sref="DaveMcClures") Next
        .row(ng-show="ctrl.showUVP")
          h1 {{ctrl.method.template()}}
          button.button(ng-click="ctrl.back()") Back
          button.button(ui-sref="DaveMcClures") Next
.footer #15 The Question
