.form
  .background--image
    img(ng-hide="ctrl.userBackgroundImage", ng-src="{{ctrl.backgroundImage}}")
    img.background-dark(ng-show="ctrl.userBackgroundImage", flow-img="ctrl.userBackgroundImage")
  .outer
    .middle.text-center
      .inner(data-interchange="[app/forms/steve-blanks/steve-blanks-default.html, (default)], [app/forms/steve-blanks/steve-blanks-small.html, ((max-width: 48em))]")

.footer #2 Steve Blank's XYZ
