.form
  .background--image
    img(src="../../assets/images/home_background.png")
  .outer
    .middle.text-center
      .inner(data-interchange="[app/forms/steve-blanks/steve-blanks-default.html, (default)], [app/forms/steve-blanks/steve-blanks-small.html, ((max-width: 48em))]")
    side-bar
.footer #2 Steve Blank's XYZ
