form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-12.columns
      textarea(placeholder="Just write it!", ng-model="ctrl.method.prose", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}")
      span(title="") Example
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Build
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  br
  i.fa.fa-chevron-left.fa-3x(ng-click="ctrl.back()")
    .icon-subtitle Back
  = ' '
  i.fa.fa-chevron-right.fa-3x(ui-sref="TheQuestion")
    .icon-subtitle Next
.footer #15 Just write
