form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-12.columns
      textarea(placeholder="Just write it!", ng-model="ctrl.method.prose", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}") Example
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Watch
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  button.button(ng-click="ctrl.back()") Back
  .row
    i.fi-arrow-right.medium-icon(ui-sref="TheQuestion")
      .icon-subtitle Next
.footer #11 Just write
