.form
  .background--image
    img(src="../../assets/images/home_background.png")
  .outer
    .middle.text-center
      .inner
        form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
          .row
            input(type="text", placeholder="We help (target consumer)", ng-model="ctrl.method.customer", required=true)
            input(type="text", placeholder="do (objective)", ng-model="ctrl.method.objective", required=true)
            input(type="text", placeholder="doing (product)", ng-model="ctrl.method.product", required=true)
            button.button(ui-sref="geoff-moores") Previous
            button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
        .row(ng-show="ctrl.showUVP")
          h1 {{ctrl.method.template()}}

          button.button(ng-click="ctrl.back()")  Back
          button.button  Next
.footer #1 Geoff Moore's Value Positioning Statement
