.main
  .main-content
    .outer
      .middle
        .inner
          %p
            %h1.text-center Write 20 different UVPs using the best methods in just minutes
            %h1.text-center Like this one!

            %center
              %a.large.button Try it - It's Free!
            %p.text-center From the creators of
            %p.text-center Jaskr.com
