form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  button.button(flow-btn, flow-attrs="{accept:'image/*'}") Change background
  .row
    .small-2.columns
      label.right.inline(for="category") Our
    .small-10.columns
      input#category(type="text", placeholder="product category or brand", ng-model="ctrl.method.category", required=true)
  .row
    .small-2.columns
      label.right.inline.small-font(for="attribute") is the only
    .small-10.columns
      input#attribute(type="text", placeholder="best customer attribute", ng-model="ctrl.method.attribute", required=true)
  .row
    a._tooltip(title="{{ctrl.method.example}}") Example
    br
    button.button(ui-sref="MintoPyramid") Previous
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
    button.button(ui-sref="JustWriteIt") Next
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  button.button(ng-click="ctrl.back()") Back
  button.button(ui-sref="JustWriteIt") Next
