.form
  .background--image
    img(src="../../assets/images/home_background.png")
  .outer
    .middle.text-center
      .inner
        form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
          .row
            .small-12.columns
              textarea(placeholder="Just write it!", ng-model="ctrl.method.prose", required=true)
          .row
            a._tooltip(title="Avoid rummors and unclear information with a better publisher network")
              span(title="") Example
            br
            button.button(ui-sref="ZagFormat") Previous
            button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
            button.button(ui-sref="TheQuestion") Next
        .row(ng-show="ctrl.showUVP")
          h1 {{ctrl.method.template()}}
          button.button(ng-click="ctrl.back()") Back
          button.button(ui-sref="TheQuestion") Next
.footer #14 Just write
