.form
  .background--image
    img(src="../../assets/images/home_background.png")

  .outer
    .middle.text-center
      .inner
        form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
          .row
            input(type="text", placeholder="Action verb", ng-model="ctrl.method.verb", required=true)
          .row
            input(type="text", placeholder="Object of action", ng-model="ctrl.method.action", required=true)
          .row
            input(type="text", placeholder="Contextual identifier", ng-model="ctrl.method.identifier", required=true)
          .row
            a._tooltip(title="{{ctrl.method.example}}")
              span Example
            br
            button.button(ui-sref="EricSinksLabel") Previous
            button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
            button.button(ui-sref="SimonSineks") Next
        .row(ng-show="ctrl.showUVP")
          h1 {{ctrl.method.template()}}
          button.button(ng-click="ctrl.back()") Back
          button.button(ui-sref="SimonSineks") Next
.footer #8 Clay Christensen’s Jobs-to-be-done
