.form
  .background--image
    img(ng-hide="ctrl.userBackgroundImage", ng-src="{{ctrl.backgroundImage}}")
    img.background-dark(ng-show="ctrl.userBackgroundImage", flow-img="ctrl.userBackgroundImage")

  .outer
    .middle.text-center
      .inner
        form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
          button.button(flow-btn, flow-attrs="{accept:'image/*'}") Change background
          .row
            .small-10.columns.right
              input(type="text", placeholder="Proven industry example", ng-model="ctrl.method.example", required=true)
          .row
            .small-2.columns
              label.right.inline(for="attribute") for/of
            .small-10.columns
              input#attribute(type="text", placeholder="attribute", ng-model="ctrl.method.attribute", required=true)
          .row
            span.has-tip(data-tooltip, aria-haspopup=true, title="A smart flip of Quora") Example
            br
            button.button(ui-sref="DaveMcClures") Previous
            button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
            button.button(ui-sref="VlaskovitsAndCoopers") Next
        .row(ng-show="ctrl.showUVP")
          h1 {{ctrl.method.template()}}
          button.button(ng-click="ctrl.back()") Back
          button.button(ui-sref="VlaskovitsAndCoopers") Next
.footer #2 Venture Hacks' High-Concept Pitch
