.form
  .background--image
    img(src="../../assets/images/home_background.png")

  .outer
    .middle.text-center
      .inner
        form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
          .row
            .small-10.columns.right
              input(type="text", placeholder="Proven industry example", ng-model="ctrl.method.industryExample", required=true)
          .row
            .small-2.columns
              label.right.inline(for="attribute") for/of
            .small-10.columns
              input#attribute(type="text", placeholder="attribute", ng-model="ctrl.method.attribute", required=true)
          .row
            a._tooltip(title="{{ctrl.method.example}}") Example
            br
            button.button(ui-sref="DaveMcClures") Previous
            button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Go
            button.button(ui-sref="VlaskovitsAndCoopers") Next
        .row(ng-show="ctrl.showUVP")
          h1 {{ctrl.method.template()}}
          button.button(ng-click="ctrl.back()") Back
          button.button(ui-sref="VlaskovitsAndCoopers") Next
.footer #2 Venture Hacks' High-Concept Pitch
