form(novalidate=true, name="uvpForm", ng-hide="ctrl.showUVP")
  .row
    .small-12.columns
      input(type="text", placeholder="What is this product", ng-model="ctrl.method.what", required=true)
  .row
    br
    button.button(ng-disabled="!uvpForm.$valid", ng-click="ctrl.display()") Build
.row(ng-show="ctrl.showUVP")
  h1 {{ctrl.method.template()}}
  br
  i.fa.fa-chevron-left.fa-2x(ng-click="ctrl.back()")
    .icon-subtitle Back
  = ' '
  i.fa.fa-chevron-right.fa-2x(ui-sref="ClayChristensen")
    .icon-subtitle Next
.footer #8 Eric Sink's Value Positioning Label
