.home
  .background--image
    img(src="../../assets/images/home_background.png")

  .outer
    .middle.large-7.text-center
      .row
        h1 Write 20 different UVPs using the best methods in just minutes
        h1 Like this one!

      .row
        br
        a.tiny.button(ui-sref="GeoffMoores")
          h3 Try it - It's Free!

      .row
        br
        span From the creators of
        br
        a(href="http://www.jaskr.com") Jaskr.com
        br
        span Powered by:
        a(href="http://pernix-solutions.com/")
          br
          img.logo(src="../../assets/images/labs_logo.png")
          br
          img.logo(src="../../assets/images/pernix_logo.png")

