.background--image
  img(src="../../assets/images/home_background.png")

.outer
  .middle.large-7.text-center

    uvp-language-selector

    .row
      img.home-title(src="../../assets/images/logo.png")

    .row
      h1 {{ 'header1' | translate }}
      h1 {{ 'header2' | translate }}

      .row
        br
        a.tiny.button(ui-sref="method.form({ slug: 0 })")
          h3 {{ 'tryIt' | translate }}

    br
    br

    .home-footer
      .row
        span {{ 'poweredBy' | translate }}
      .row
        a(href="http://labs.pernix-solutions.com/")
          img.logo(src="../../assets/images/pl.png")
