.home
  .home-content
    .outer
      .middle
        .inner.large-7.text-center
          .row
            h1 Write 20 different UVPs using the best methods in just minutes
            h1 Like this one!

          .row
            br
            a.tiny.button(ui-sref="geoff-moores")
              h3 Try it - It's Free!

          .row
            br
            p From the creators of
            br
            a(href="http://www.jaskr.com/pf") Jaskr.com
