.background--image
  img(src="../../assets/images/home_background.png")

.outer
  .middle.large-7.text-center
    .row
      img.home-title(src="../../assets/images/logo.png")

    .row
      h1 {{ 'home.header1' | i18n }}
      h1 {{ 'home.header2' | i18n }}

      .row
        br
        a.tiny.button(ui-sref="method.form({ slug: 0 })")
          h3 {{ 'home.tryIt' | i18n }}


    .home-footer
      span {{ 'home.poweredBy' | i18n }}
      br
      a(href="http://labs.pernix-solutions.com/")
        img.logo(src="../../assets/images/pl.png")
      .home-footer
        .row
          span {{ 'home.poweredBy' | i18n }}
        .row
          a(href="http://labs.pernix-solutions.com/")
            img.logo(src="../../assets/images/pl.png")
